[Unit]
Description=Lock the screen with lightdm
# Ensure that we run this service before the machine can actually go to sleep
Before=sleep.target

[Service]
User=tsokkur
# Because the i3lock process blocks while it's running, this needs to be
# `forking`, otherwise systemd would never supsend while `i3lock` is running
Type=forking
# There's usually only one interactive Xorg session running, so it's almost
# certainly going to be the 0th display
Environment=DISPLAY=:0
# /home/jamie/.currbg is the location of whatever my current background photo
# is, as I like having an image background for i3lock
ExecStart=dm-tool lock

[Install]
# Ensure that this is called when we're trying to suspend the machine
WantedBy=suspend.target
